/* 載入 google font 字體 */
@import url('https: //fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap');

/* 設定 box 計算模式 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 清除瀏覽器預設 viewport */
html, body{
  width: 100%;
  height: 100%;
}


/* 設定順暢滑動 */
html {
  scroll-behavior: smooth;
}


/* 設定網頁主體 */
body {
  background-color: #F6F7F8;
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 1rem;
  line-height: 1.4;
  margin: 0;
}


/* 統一設定 h 元素 */
h1,h2,h3,h4,h5 {
  margin: 0;
  line-height: 0.9;
}


/* 統一設定 p 元素 */
p {
  margin: 0;
}

/* 統一設定 ul, li 元素 */
ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


/* 去除超連結預設底線 */
a {
  text-decoration: none;
}



/***** 撰寫專案共用樣式:手機板 *****/
/* 區塊 */
.container {
  width: 85%;
  margin: 0 auto 3rem auto;
}

/* 共用按鈕樣式 */
.action {
  color: white;
  background: #39bae6;
  border-radius: 0.25rem;
  display: inline-block;
  font-size: 1rem;
  padding: 0.25rem 1rem;
  transition: all 0.1s linear;
}


/* 共用背景圖片樣式 */
.background-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}



/**** 制定 header 樣式 ****/
header{
  /* 基本樣式 */
  width: 100%;
  height: 60px;
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.1);

  /* 定位 */
  position: fixed;
  z-index: 10;
}


/**** 制定導覽列樣式 ****/
.nav {
  /* 基本樣式 */
  width: 100%;
  background: #ffffff;

  /* 定位 */
  position: absolute;
  top: 100%;
}


/* 基本樣式 */
.navbar-brand {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 60px;
  color: #267b98;
}

.nav-item {
  margin: 1.4rem 0;
}

.nav-link {
  color: #267b98;
}


/* 制定漢堡排選單: 使用 :checked 控制被勾選時的樣式 */
.nav {
  /* 預設收合 */
  transform: scale(1,0);

  /* 利用 transition 打造轉場效果 */
  transform-origin: top; 
  transition: transform .3s ease-out;

}

.navbar-toggle:checked ~ .nav {
  /* Check 時展開 */
  transform: scale(1, 1);
}

.nav-item {
  opacity: 0;
}

.navbar-toggle:checked ~ .nav .nav-item {
  transition: opacity .3s ease-out .15s;
  opacity: 1;
}


/* label 之漢堡排樣式 */
.navbar-toggle-label {
  position: absolute;
  top: 0; /* 讓元素高度與父元素相等-> 絕對定位的top與bottom設定為零  */
  bottom: 0; /* 讓元素高度與父元素相等-> 絕對定位的top與bottom設定為零  */
  right: 7.5%; /* 與畫面右側保持 7.5% 的距離 */

  display: flex;
  align-items: center;
}


.hamburger, .hamburger::before, .hamburger::after {
  width: 30px;
  height: 3px;
  background: #267b98;
  content: "";
}

.hamburger {
  position: relative;
}

.hamburger::before, .hamburger::after {
  position: absolute;
  left: 0;
}

.hamburger::before {
  top: 8px;
}

.hamburger::after {
  bottom: 8px;
}


/* 隱藏 checkbox navbar-toggle */
.navbar-toggle {
  position: absolute;
  visibility: hidden;
}



/**** 制定活動區 banner 樣式 ****/
.banner-wrapper {
  padding-top: 92px;

  /* 大略排版 */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 250px);
  grid-gap: 0.5rem;

  grid-template-areas:
  "main main main main"
  "left left right right";
}


/* 將 grid-item 標記 grid-area 並命名 */
.main-banner {
  grid-area: main;
  background-image: url("https://images.unsplash.com/photo-1520087619250-584c0cbd35e8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1285&q=80");
}

.sub-banner-left {
  grid-area: left;
  background-image: url("https://images.unsplash.com/photo-1569809317138-8d2ff6060c4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80");
}

.sub-banner-right {
  grid-area: right;
  background-image: url("https://images.unsplash.com/photo-1535294435445-d7249524ef2e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80");
}

.main-banner, .sub-banner {
  padding: 1rem;

  /* 細部排版 */
  display: flex;
  flex-flow: column wrap;
  justify-content: end;
  align-items: end;
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.08);
}

/* banner 文字樣式與按鈕樣式微調 */
.banner-title{
  margin-bottom: 0.4rem;
}

.banner-description{
  margin-bottom: 1rem;
  font-weight: 600;
}

.main-banner .banner-title {
  margin-bottom: 2rem;
  font-size: 2rem;
  color: #1a5366;
}
.main-banner .banner-description {
  font-size: 1rem;
  color: #267b98;
}

.sub-banner .banner-title,
.sub-banner .banner-description {
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 1px;
  color: #fff;
}

.sub-banner .action {
  font-size: 1rem;
  padding: 0.25rem 1rem;
}



/***** 撰寫專案共用樣式:電腦版 *****/
@media screen and (min-width:768px){
  /* 共用按鈕樣式 */
  .action {
    font-size: 1.2rem;
    padding: 0.75rem 2rem;
  }

  /**** 制定 header 樣式 ****/
  /* 移除漢堡排 */
  .navbar-toggle-label {
    display: none;
  }

  /* 還原 nav 樣式 */
  .nav {
    all:unset;
  }

  .nav-item {
    opacity: 1;
    margin: 0;
  }

  /* 宣告 grid container */
  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }

  /* grid 定位 */
  .navbar-brand {
    grid-column: 2/3;
  }


  .nav-list {
    grid-column: 3/4;

    /* 導覽列項目細部排版 */
    height: 100%;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: end;
    grid-gap: 2rem;
  }


  
  /**** 制定活動區 banner 樣式 ****/
  /* grid 重新排版 */
  .banner-wrapper{
    grid-template-areas:
    "main main main left"
    "main main main right";

    grid-gap: 1.5rem;
  }

  /* flex 重新排版 */
  .main-banner{
    justify-content: center;
    align-items: flex-start;
  }

  /* 細部微調文字樣式 */
  .main-banner .banner-title {
    font-size:4rem;
  }

  .main-banner .banner-description {
    font-size:2rem;
  }

  .sub-banner .banner-description {
    font-size: 1.2rem;
  }

 


}