/* 載入 google font 字體 */
@import url('https: //fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap');

/* 設定 box 計算模式 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 清除瀏覽器預設 viewport */
html, body{
  width: 100%;
  height: 100%;
}


/* 設定順暢滑動 */
html {
  scroll-behavior: smooth;
}


/* 設定網頁主體 */
body {
  background-color: #F6F7F8;
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 1rem;
  line-height: 1.4;
  margin: 0;
}


/* 統一設定 h 元素 */
h1,h2,h3,h4,h5 {
  margin: 0;
  line-height: 0.9;
}


/* 統一設定 p 元素 */
p {
  margin: 0;
}

/* 統一設定 ul, li 元素 */
ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


/* 去除超連結預設底線 */
a {
  text-decoration: none;
}



/***** 撰寫專案共用樣式:手機板 *****/
/* 區塊 */
.container {
  width: 85%;
  margin: 0 auto 3rem auto;
}

/* 共用按鈕樣式 */
.action {
  color: white;
  background: #39bae6;
  border-radius: 0.25rem;
  display: inline-block;
  font-size: 1rem;
  padding: 0.25rem 1rem;
  transition: all 0.1s linear;
}


/* 共用背景圖片樣式 */
.background-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}



/**** 制定 header 樣式 ****/
header{
  /* 基本樣式 */
  width: 100%;
  height: 60px;
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.1);

  /* 定位 */
  position: fixed;
  z-index: 10;
}



/***** 撰寫專案共用樣式:電腦版 *****/
@media screen and (min-width:768px){
  /* 共用按鈕樣式 */
  .action {
    font-size: 1.2rem;
    padding: 0.75rem 2rem;
  }
}